@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 font-family: "Poppins", sans-serif;
}

 #header {
    background-color: rgb(9, 9, 9);
	color: white;
	 position: sticky;
	 top: 0;
	 left: 0;
	 width: 100%;
	 padding: 30px 100px;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 z-index: 10000;
}
#header.sticky {
	top: 0;
	visibility: visible; /* Change the visibility to visible when the header is sticky */
 }
 
 #header #menu {
   
	position: absolute;
	right: 0;
	margin-right: 20px;
display: none;
cursor: pointer;
}
 @media (max-width: 800px) {
	 #header {
		 align-items: flex-start;
	}
	 #header #menu {
		 display: inline-block;
		 
	}
}
 #header .logo {
	 color: #fff;
	 font-weight: 700;
	 font-size: 2em;
	 text-decoration: none;
}
 #header ul {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 gap: 40px;
	 border-radius: 20px;
}
 #header ul li {
	 list-style: none;
}
 #header ul li a {
	 text-decoration: none;
	 padding: 6px 15px;
	 color: #fff;
	 border-radius: 20px;
	 transition: all 0.4s ease-in-out;
}
 #header ul li a:hover, #header ul li a.active {
	 background: #e3b200;
}
 @media (max-width: 800px) {
	 #header ul {
		 display: none;
		 position: absolute;
		 left: 0;
		 right: 0;
		 top: 5em;
		 width: 80%;
		 margin: auto;
		 background-color: #ccc;
		 border-radius: 20px;
	}
	 #header ul li {
		 width: 100%;
	}
	 #header ul li a:not(.active) {
		 color: #112434;
	}
	 #header ul li a {
		 display: block;
		 padding: 6px 15px;
	}
	 #header ul li a:hover, #header ul li a.active {
		 color: #fff;
	}
}
 section {
	 position: relative;
	 width: 100%;
	 height: 100vh;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 section img {
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 pointer-events: none;
}
 section img#house {
	 z-index: 2;
}
 section img#crs {
	 transform: scale(0.75);
	 top: 0;
	 bottom: 95%;
	 left: 14%;
	 margin: auto 0 auto;
}
 section #txt {
	 position: absolute;
	 left: -150px;
	 color: #fff;
	 z-index: 1;
	 font-size: 8em;
	 font-weight: 900;
	 white-space: nowrap;
	 text-transform: uppercase;
	 -webkit-text-stroke: 4px #112434;
}
 @media (max-width: 767px) {
	 section #txt {
		 font-size: 6em;
	}
}
 @media (max-width: 400px) {
	 section #txt {
		 font-size: 4em;
	}
}
 .sec {
	 position: relative;
	 padding: 100px;
	 background: #bedbe5;
	 box-shadow: 0 0 0 2px #bedbe5;
}
 .sec h2 {
	 font-size: 3em;
	 color: #112434;
	 margin-bottom: 10px;
}
 .sec p {
	 font-size: 1em;
	 color: #112434;
	 margin-bottom: 1em;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	background-repeat: no-repeat;
  }



  .hcls {
	color: white;
	font: 1.5em 'Dosis', sans-serif;
	letter-spacing: 1px;
	text-align: center;
}
@media (min-width: 417px) and (max-width: 567px) {
	.hcls {
		font-size: 2em;
   }
}
@media (min-width: 568px) {
	.hcls {
		font-size: 3em;
   }
}
.container2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.container2 .buttons {
	display: flex;
	flex-direction: column;
	text-decoration: none;
}
.button3  {
	padding: 15px 20px;
	font: 13px 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	margin: 1em;
}
.button3:hover {
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}
@media (min-width: 417px) and (max-width: 567px) {
	.button3 {
		padding: 15px 30px;
		font: 16px 'Montserrat', sans-serif;
   }
}
@media (min-width: 568px) {
	.button3 {
		padding: 15px 50px;
		font: 20px 'Montserrat', sans-serif;
   }
}
.button3 {
	color: white;
	background: linear-gradient(to right, #8041f2, #3095ed);
	border-radius: 8px;
	transition: 0.2s ease-in-out;
}
.button3:hover {
	border-radius: 30px;
}



@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.image-scroller {
    --speed: 15s;

    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
}

.image-ticker-fade {
    background: linear-gradient(
        to right,
        rgba(14, 24, 42, 1) 0%,
        rgba(14, 24, 42, 0.01) 20%,
        rgba(14, 24, 42, 0.01) 80%,
        rgba(14, 24, 42, 1) 100%
    );
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.image-ticker-container {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slide var(--speed) linear infinite;
}



b {
	font-weight: bold;
}
i {
	font-style: italic;
}
.item--clip .demo {
	width: 200px;
	height: 250px;
}
.item--clip .has-mask {
	position: absolute;
	clip: rect(10px, 190px, 190px, 10px);
}
.item--css-clip-path img {
	-webkit-clip-path: circle(100px at center);
	clip-path: circle(100px at center);
}
.item--svg-clip-path-html img {
	-webkit-clip-path: url(#clipping);
	clip-path: url(#clipping);
}
.item--svg-clip-path-svg image, .item--svg-clip-path-with-text-html img {
	-webkit-clip-path: url(#clipping-with-text);
	clip-path: url(#clipping-with-text);
}
.item--css-mask img {
	mask-image: url(http://yoksel.github.io/Sandbox/img/tiles/tile-transparent-black.png), linear-gradient(-45deg, black 20%, transparent 50%);
	mask-repeat: space;
}
.item--svg-mask-html img, .item--svg-mask-svg image {
	mask: url(#masking);
}
.item--css-background-clip .demo {
	width: 200px;
	height: 200px;
	background: url(https://img-fotki.yandex.ru/get/5607/5091629.6b/0_612e6_b9039c0d_M.jpg) no-repeat;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.item--svg-fill text {
	fill: url(#pattern);
}
.demo, #clipping-with-text, #masking text {
	font: bold italic 7em/1.5 Georgia;
}
/* Common ------------------------------------------- */

code {
	display: block;
	position: relative;
	margin-bottom: 1rem;
	overflow: auto;
	max-width: 90%;
	max-height: 100%;
	padding: 35px 10px 7px;
	border-radius: 5px;
}
.comment code {
	display: inline-block;
	margin: 0;
	padding: 2px 5px;
	vertical-align: middle;
	background: #eee;
	color: #777;
}
code:before {
	left: 0;
	right: 0;
	top: 0;
	height: 25px;
	line-height: 25.2px;
	padding-left: 10px;
	position: absolute;
	font-weight: bold;
	font-style: italic;
}
.comment code:before {
	content: none;
}
.code--css {
	background: #111010;
	color: white;
}
.code--css:before {
	content: "Details:";
	background: #121211;
	color: #f3f2ef;
}

.wrapper {
	width: 90%;
	min-width: 500px;
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem 0;
	conter-reset: mylist;
}
.wrapper:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
.item {
	position: relative;
	margin-bottom: 2em;
	padding-bottom: 2em;
	padding-right: 3em;
	border-bottom: 1px solid #ddd;
	counter-increment: mylist;
}
.item:before {
	content: counter(mylist);
	position: absolute;
	right: 0;
	top: 0;
	font: 2rem Georgia, serif;
	color: #eee;
}
.item:after {
	content: '';
	display: table;
	width: 100%;
}
.demo {
	position: relative;
	float: left;
	margin-right: 30px;
}
.demo:before {
	content: '';
	display: block;
	position: absolute;
	z-index: -2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(images/sky.jpg) no-repeat;
	opacity: 0;
	transition: 0.7s;
}
.item:hover .demo:before {
	opacity: 0.4;
}
.text {
	padding-left: 230px;
}



/* about */

.transition, p, ul li i:before, ul li i:after {
	transition: all 0.25s ease-in-out; }
  
  .flipIn, h1, ul li {
	animation: flipdown 0.5s ease both; }
  
  .no-select, h2 {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; }
  
  
  .aboutt {
	min-height: 0;
	display: inline-block;
	position: relative;
	left: 50%;
	margin: 90px 0;
	transform: translate(-50%, 0);
	box-shadow: 0 10px 0 0 #ff6873 inset;
	background-color: #fefffa;
	max-width: 450px;
	padding: 30px; }
	@media (max-width: 550px) {
	  .aboutt {
		box-sizing: border-box;
		transform: translate(0, 0);
		max-width: 100%;
		min-height: 100%;
		margin: 0;
		left: 0; } }
  
  h1, h2 {
	color: #ff6873; }
  
  
  p {
	color: rgba(48, 69, 92, 0.8);
	font-size: 17px;
	line-height: 26px;
	letter-spacing: 1px;
	position: relative;
	overflow: hidden;
	max-height: 800px;
	opacity: 1;
	transform: translate(0, 0);
	margin-top: 14px;
	z-index: 2; }

  
  @keyframes flipdown {
	0% {
	  opacity: 0;
	  transform-origin: top center;
	  transform: rotateX(-90deg); }
	5% {
	  opacity: 1; }
	80% {
	  transform: rotateX(8deg); }
	83% {
	  transform: rotateX(6deg); }
	92% {
	  transform: rotateX(-3deg); }
	100% {
	  transform-origin: top center;
	  transform: rotateX(0deg); } }
  
	  .tic{
		background-color: #e3b200;
	  }

	  /* contact */

	  @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

	  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
		color: #aca49c;
		font-size: 0.875em;
	  }
	  
	  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
		color: #bbb5af;
	  }
	  
	  input::-moz-placeholder, textarea::-moz-placeholder {
		color: #aca49c;
		font-size: 0.875em;
	  }
	  
	  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
		color: #bbb5af;
	  }
	  
	  input::placeholder, textarea::placeholder {
		color: #aca49c;
		font-size: 0.875em;
	  }
	  
	  input:focus::placeholder, textarea::focus:placeholder {
		color: #bbb5af;
	  }
	  
	  input::-ms-placeholder, textarea::-ms-placeholder {
		color: #aca49c;
		font-size: 0.875em;
	  }
	  
	  input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
		color: #bbb5af;
	  }
	  
	  /* on hover placeholder */
	  
	  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
		color: #e2dedb;
		font-size: 0.875em;
	  }
	  
	  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
		color: #cbc6c1;
	  }
	  
	  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
		color: #e2dedb;
		font-size: 0.875em;
	  }
	  
	  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
		color: #cbc6c1;
	  }
	  
	  input:hover::placeholder, textarea:hover::placeholder {
		color: #e2dedb;
		font-size: 0.875em;
	  }
	  
	  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
		color: #cbc6c1;
	  }
	  
	  input:hover::placeholder, textarea:hover::placeholder {
		color: #e2dedb;
		font-size: 0.875em;
	  }
	  
	  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
		color: #cbc6c1;
	  }
	  
	  
	  #form {
		position: relative;
		width: 100%;
		margin: 50px auto 100px auto;
	  }
	  
	  input {
		font-family: 'Lato', sans-serif;
		font-size: 0.875em;
		width: 100%;
		height: 50px;
		padding: 0px 15px 0px 15px;
		
		background: transparent;
		outline: none;
		color: #000000;
		
		border: solid 1px #b3aca7;
		border-bottom: none;
		
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
	  }
	  
	  input:hover {
		background: #ffffff;
		color: #000000;
	  }
	  
	  textarea {
		width: 100%;
		max-width: 100%;
		height: 110px;
		max-height: 110px;
		padding: 15px;
		
		background: white;
		outline: none;
		
		color: #000000;
		font-family: 'Lato', sans-serif;
		font-size: 0.875em;
		
		border: solid 1px #fffcfa;
		
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
	  }
	  
	  textarea:hover {
		
		color: #000000;
	  }
	  
	  #submit {
		width: 100%;
		
		padding: 0;
		margin: -5px 0px 0px 0px;
		
		font-family: 'Lato', sans-serif;
		font-size: 0.875em;
		color: #b3aca7;
		
		outline:none;
		cursor: pointer;
		
		border: solid 1px #b3aca7;
		border-top: none;
	  }
	  
	  #submit:hover {
		color: #e2dedb;
	  }